
<!-- MAIN OFFERS -->
<div data-role="carousel"
     data-controls-on-mouse="true" data-cls-controls="fg-white" data-height="600px" data-effect="fade" data-duration="1500" data-auto-start="true" data-effect-func	="linear" style="margin-bottom: 15%">
    <div class="slide" data-cover="https://assets1.ignimgs.com/2017/11/18/iphonex-1600-1510964676112.jpg"></div>
    <div class="slide" data-cover="https://cdn.shopify.com/s/files/1/0108/1062/articles/Galaxy-S9-release.jpg?v=1519625620"></div>
    <div class="slide" data-cover="https://swall.teahub.io/photos/small/284-2842101_dim-the-living-room-lights-smart-tv-in.jpg"></div>
</div>
<!-- MAIN OFFERS END -->