<div class="container mt-20 mb-20">
    <form action="/" method="POST">
    <div class="form-group">
        <label>Email address</label>
        <input type="email" name="email_from_user" placeholder="Enter email" />
        <small class="text-muted">We'll never share your email with anyone else.</small>
        {{{message}}}
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" name="password_from_user" placeholder="Enter password" />
    </div>



    <div class="modal-footer">
        <button type="submit" class="btn btn-dark" id="myBtn">Log in</button>
        <!-- Modal -->
    </div>
</form></div>